h1 {
color: orange;
}

.section {
    background-color: lightpink;
    margin: 20px;
    padding: 8px;
}

#Intro {
    font-size: 80px;
}

a:hover {
    color: skyblue;

}
img {
    width: 400px;
    height: auto;
}